.contact-container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;

}
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside{
    height: 100vh;
    width: 231px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-main{
    width: 100%;

    height: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
}
.contact-table{
    margin-top: 20px
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

   
.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
}
.rwd-table tr:first-child {
  border-top: none;
  background: #428BCA;
  color: #fff;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #F5F9FC;
}
.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #EBF3F9;
}
.rwd-table th {
  display: flex;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  margin-top: .5em;
}
.rwd-table td:last-child {
  margin-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #BFBFBF;
}
.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #D8E7F3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
  #name-list{
    display: grid;
  }
}

.v1{
  border-right: 2px solid gray;
  height: 0.5vh;
}


